.circle {
  position: relative;

  &__button {
    position: absolute;
    top: 4px;
    left: 4px;
  }

  &__base {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
  }

  &__progress {
    fill: none;
    stroke: #4C4C4C;
    stroke-width: 2px;
  }
    
}



