.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    padding: 25px 20px;
    max-height: 80vh;

    color: #000;

    background-color: #fff;
    border-radius: 32px 32px 0 0;

    transition: transform 1s ease-in-out,
                visibility 1s ease-in-out;

    &--closed {
        visibility: hidden;
        transform: translateY(100vh);
    }

    &__title {
        margin: 0;
        margin-bottom: 15px;

        font-family: "Nekst";
        font-size: 22px;
        color: #111;
        line-height: 20px;
        font-weight: 900;
    }

    &__text {
        margin: 0;
        margin-bottom: 30px;

        color: #575757;
        line-height: 19px;
    }

    &__form {
        margin-bottom: 25px;
    }

    &__form-list {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;

        list-style: none;
    }

    &__form-item {
        position: relative;
    }

    &__form-item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__label {
        position: absolute;
        top: 19px;
        left: 24px;

        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: rgba(#575757, 1);

        transition: font-size 0.1s ease-in-out,
                    top 0.1s ease-in-out;
    }

    &__star {
        display: inline-block;
        margin-left: 3px;
    }

    &__input {
        padding: 24px 24px 8px;

        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: rgba(#575757, 1);

        background-color: #f3f3f4;
        border: 1px solid #f3f3f4;
        border-radius: 16px;
    }

    &__input:hover {
        background-color: #eaeaeb;
        border: 1px solid #eaeaeb;
    }

    &__input:active,
    &__input:focus {
        outline: none;
        border: 1px solid #ff9514;

        box-shadow: 0 0 0 4px rgba(#ff9514, 0.2);
    }
    &__label--not-empty,
    &__input:hover + &__label,
    &__input:focus + &__label,
    &__input:active + &__label {
        top: 12px;
        font-size: 12px;
        line-height: 12px;
    }

    &__input:disabled {
        color: rgba(#575757, 0.4);

        background-color: rgba(#f3f3f4, 0.4);
        border: 1px solid rgba(#f3f3f4, 0.4);
    }

    &__input--error {
        border: 1px solid #D53234;
    }

    &__error {
        display: none;
        margin: 0;
        margin-top: 5px;

        color: #D53234;
    }

    &__submit {
        width: 100%;
        padding: 12px 25px;
        margin-bottom: 15px;

        font-family: "Gilroy";
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        background-color: #ff9514;
        border: none;
        border-radius: 40px;
        cursor: pointer;
    }

    &__agreement {
        margin: 0;

        line-height: 19px;
        color: rgba(#111, 0.5);
        text-align: center;
    }

    &__agreement-link {
        color: rgba(#111, 1);
        text-decoration: none;
    }

    &__social-list {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        list-style: none;
    }

    &__social-item:not(:last-child) {
        margin-right: 15px;
    }

    &__social-link {
        display: block;
        width: 48px;
        height: 48px;

        border: 2px solid #e7e7e7;
        border-radius: 50%;

        background-repeat: no-repeat;
        background-position: center;
    }

    &__social-link--whatsapp {
        background-image: url('../img/whatsapp-icon.svg');
        background-size: 20px 20px;
    }

    &__social-link--telegram {
        background-image: url('../img/telegram-icon.svg');
        background-size: 22px 17px;
    }

    &__close {
        position: absolute;
        top: 24px;
        right: 20px; 

        width: 24px;
        height: 24px;

        background-color: #f3f3f4;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    &__close::before,
    &__close::after {
        content: '';

        position: absolute;
        top: 11px;
        left: 7px;

        width: 11px;

        border-bottom: 2px solid #828282;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 10px;
    }

    &__close::before {
        transform: rotate(-45deg);
    }

    &__close::after {
        transform: rotate(45deg);
    }

    &__close:hover,
    &__close:focus {
        background-color: #111;
    }

    &__close:active {
        background-color: rgba(#111, 0.4);
    }
}

@media (min-width: 768px) {
    .modal {
        padding: 120px 35px;
    
        &__title {
            margin-bottom: 20px;
    
            font-size: 54px;
            line-height: 49px;
        }
    
        &__text {
            margin-bottom: 45px;
    
            font-size: 16px;
            line-height: 24px;
        }
    
        &__form {
            margin-bottom: 30px;
        }
    
        &__form-list {
            flex-direction: row;
            margin-bottom: 30px;
        }
    
        &__form-item {
            width: calc(50% - 15px);
        }
    
        &__form-item:not(:last-child) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    
        &__input {
            width: 100%;
        }

        &__submit-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;

            border: 2px solid #f3f3f4;
            border-radius: 16px;
        }
    
        &__submit {
            width: max-content;
            margin-bottom: 0;
            padding: 12px 20px;

            font-family: "Gilroy";
            font-weight: 700;
        
            border-radius: 40px;
            cursor: pointer;
            order: 2;
            transition: background-color 0.2s ease-in-out,
                    color 0.2s ease-in-out;
        }

        &__submit:hover,
        &__submit:focus {
            color: #fff;

            background-color: #111;
        }

        &__submit:active {
            background-color: #575757;
        }

        &__submit:disabled {
            color: rgba(#fff, 0.4);

            background-color: rgba(#ff9514, 0.4);
            cursor: not-allowed;
        }
    
        &__agreement {
            order: 1;
            width: 50%;
            margin-bottom: 0;
    
            line-height: 21px;
        }

        &__close {
            width: 48px;
            height: 48px;
        }
    
        &__close::before,
        &__close::after {
            top: 23px;
            left: 14px;
    
            width: 19px;
        }
    }
}

@media (min-width: 1024px) {
    .modal {
        padding: 160px 185px;
    }
}

@media (min-width: 1400px) {
    .modal {
        padding: 160px 400px;
    }
}