.price-count {
    padding: 60px 20px 0;

    &__title {
        margin: 0;
        margin-bottom: 30px;

        font-family: "Nekst";
        font-size: 34px;
        line-height: 31px;
        font-weight: 900;
    }

    &__list {
        margin: 0;
        margin-bottom: 20px;
        padding: 0;

        list-style: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__item:not(:last-child) {
        margin-bottom: 25px;
    }

    &__label {
        margin-bottom: 10px;

        color: #333e48;
        line-height: 19px; 
    }

    &__item-container {
        position: relative;
    }

    &__item-container--payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 5px 6px 20px;

        background-color: #f3f3f4;
        border: 1px solid #f3f3f4;
        border-radius: 16px;
    }

    &__input,
    &__currency,
    &__term,
    &__payment-result {
        font-family: "Nekst";
        font-size: 22px;
        color: #333E48;
        font-weight: 900;
    }

    &__currency,
    &__term {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &__input {
        width: 100%;
        border: none;
        background-color: transparent;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;

        background-color: #f3f3f4;
        border: 1px solid #f3f3f4;
        border-radius: 16px;
    }

    &__input--payment {
        order: 2;
        padding: 10px;
        width: 80px;

        text-align: center;

        background-color: rgba(#e0e0e0, 0.4);
        border-radius: 12px;
    }

    &__input:focus,
    &__input:active {
        background-color: #fff;
    }

    &__input:disabled {
        color: rgba(#333E48, 0.4);

        background-color: rgba(#f3f3f4, 0.4);
        border-color: rgba(#f3f3f4, 0.4);
    }

    &__range {
        position: absolute;
        bottom: -14px;
        left: 15px;

        width: calc(100% - 30px);
    }

    &__result-list {
        margin: 0;
        margin-bottom: 30px;
        padding: 0;

        list-style: none;
    }

    &__result-item {
        display: flex;
        flex-direction: column;
    }

    &__result-item:not(:last-child) {
        margin-bottom: 25px;
    }

    &__result-text {
        margin: 0;
        margin-bottom: 5px;

        line-height: 19px;
        color: #333333;
    }

    &__result {
        margin: 0;

        font-family: "Nekst";
        font-size: 22px;
        line-height: 20px;
        color: #333;
        font-weight: 900;
    }

    &__submit {
        display: block;
        width: 280px;
        margin: 0 auto;
        padding: 18px 20px 20px;

        font-family: "Nekst";
        font-size: 22px;
        color: #fff;
        font-weight: 900;
        line-height: 20px;

        background-color: #ff9514;
        border: none;
        border-radius: 40px;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .price-count {
        padding: 80px 0 0;
    
        &__title {
            margin-bottom: 40px;
    
            font-size: 54px;
            line-height: 49px;
        }
    
        &__list {
            margin-bottom: 35px;
        }
    
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    
        &__label {
            margin-bottom: 20px;
    
            color: #575757;
            font-size: 16px;
            line-height: 20px; 
        }
    
        &__item-container--payment {
            padding: 4px 5px 4px 25px;
        }

        &__input,
        &__currency,
        &__term,
        &__payment-result {
            font-size: 30px;
            line-height: 36px;
        }
    
        &__result-list {
            display: flex;
            margin-bottom: 40px;
        }
    
        &__result-item {
            width: calc(50% - 80px / 2);
        }
    
        &__result-item:not(:last-child) {
            margin-bottom: 0;
            margin-right: 80px;
        }
    
        &__result-text {        
            font-size: 16px;
            line-height: 24px;
        }

        &__result {
            font-size: 54px;
            line-height: 49px;
        }
    
        &__submit {
            width: 345px;
            margin: 0;
    
            font-size: 30px;
            line-height: 36px;
        }
    }
}

@media (min-width: 1024px) {
    .price-count {
        padding: 80px 0 100px;

        &__title {
            width: 750px;
        }
    }
}

@media (min-width: 1440px) {
    .price-count {
        padding: 100px 0 130px;

        &__form { 
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
        }

        &__list {
            width: 100%;
            display: flex;
            margin-bottom: 40px;
        }

        &__item {
            width: calc(100% / 3 - 20px)
        }
    
        &__item:not(:last-child) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    
        &__result-list {
            width: calc(100% / 3 * 2);
            margin-bottom: 0;
        }
    
        &__result-item {
            width: calc(100% / 2 - 20px);
        }
    
        &__result-item:not(:last-child) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    
        &__result-label {        
            font-size: 16px;
            line-height: 24px;
        }
    
        &__submit {
            width: calc(100% / 3 - 20px);
            margin-left: 20px;
            padding: 12px 20px 16px;
        }
    }
}