.promo {
    padding: 250px 20px 25px;

    color: #fff;

    background-color: #000;
    background-image: url('../../img/header-bg-sm.jpg');
    background-repeat: no-repeat;
    background-size: auto 260px;
    background-position: left top;
    border-radius: 0 0 32px 32px;
}

@media (min-width: 768px) {
    .promo {
        padding: 230px 45px 25px;
    
        background-image: url('../../img/header-bg-md.jpg');
        background-size: auto;
        background-position: center top;
    }
}

@media (min-width: 1024px) {
    .promo {
        padding: 70px 70px 45px;
    
        background-image: url('../../img/header-bg-lg.jpg');
        background-position: right bottom 20px;
    }
}

@media (min-width: 1440px) {
    .promo {
        background-image: url('../../img/header-bg-xl.jpg');
        background-position: right bottom;
    }
}