.range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    cursor: pointer;

    &__line {
        width: 100%;
        height: 2px;

        background-color: #ff9514;
    }

    &__pin {
        position: absolute;
        bottom: 5px;
        left: 0;
        margin-left: -10px;
        margin-top: 0;

        width: 20px;
        height: 20px;

        background-color: #ff9514;
        border-radius: 50%;
        cursor: pointer;
    }

    &:hover &__line,
    &:focus &__line {
        height: 1px;
    }

    &:hover &__pin,
    &:focus &__pin {
        bottom: 3px;

        width: 24px;
        height: 24px;

        margin-left: -12px;
    }

    &:active &__pin {
        bottom: 5px;

        width: 20px;
        height: 20px;

        margin-left: -10px;
    }

    &:disabled &__pin,
    &:disabled &__line {
        background-color: rgba(#ff9514, 0.4);
    }
}