.slide {
    &__title {
        margin: 0;
        margin-bottom: 30px;

        font-family: 'Nekst';
        font-size: 32px;
        line-height: 29px;
        font-weight: 900;
    }

    &__button {
        min-width: 175px;
        padding: 12px 20px;

        font-size: 16px;
        line-height: 24px;
    }

    &__text {
        display: none;
    }
}

@media (min-width: 768px) {
    .slide {
        &__title {    
            font-size: 54px;
            line-height: 49px;
        }
    }
}

@media (min-width: 1024px) {
    .slide {
        &__title {
            width: 585px;

            font-size: 54px;
            line-height: 49px;
        }

        &__text {
            display: block;
            margin: 0;
            margin-bottom: 20px;

            font-family: "Nekst";
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
        }
    }
}