:root {
  --fs-body: 14px; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Gilroy', sans-serif;
  font-size: var(--fs-body);
  font-weight: 400;
  font-style: normal; }

.button {
  padding: 12px 20px;
  color: #fff;
  font-weight: 700;
  background-color: #ff9514;
  border: none;
  border-radius: 40px;
  cursor: pointer; }

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Nekst';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Nekst-Black.otf") format("otf"); }

@media (min-width: 1024px) {
  .main-nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-nav__link {
    padding: 5px 10px;
    color: #575757;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none; } }

.promo {
  padding: 250px 20px 25px;
  color: #fff;
  background-color: #000;
  background-image: url("../../img/header-bg-sm.jpg");
  background-repeat: no-repeat;
  background-size: auto 260px;
  background-position: left top; }

@media (min-width: 768px) {
  .promo {
    padding: 230px 45px 25px;
    background-image: url("../../img/header-bg-md.jpg");
    background-size: auto;
    background-position: center top; } }

@media (min-width: 1024px) {
  .promo {
    padding: 70px 70px 45px;
    background-image: url("../../img/header-bg-lg.jpg");
    background-position: right bottom 20px; } }

@media (min-width: 1440px) {
  .promo {
    background-image: url("../../img/header-bg-xl.jpg");
    background-position: right bottom; } }

.slide__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Nekst';
  font-size: 32px;
  line-height: 29px;
  font-weight: 900; }

.slide__button {
  min-width: 175px;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 24px; }

.slide__text {
  display: none; }

@media (min-width: 768px) {
  .slide__title {
    font-size: 54px;
    line-height: 49px; } }

@media (min-width: 1024px) {
  .slide__title {
    width: 585px;
    font-size: 54px;
    line-height: 49px; }
  .slide__text {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-family: "Nekst";
    font-weight: 900;
    font-size: 30px;
    line-height: 36px; } }

.slider__list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  .slider__list {
    margin-bottom: 30px; } }

@media (min-width: 1024px) {
  .slider {
    position: relative; }
    .slider__list {
      margin-bottom: 110px; }
    .slider__controls {
      position: absolute;
      bottom: 45px;
      right: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90px; }
    .slider__button {
      position: relative;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer; }
    .slider__button--next {
      order: 1;
      width: 48px;
      height: 48px; }
    .slider__button--prev {
      order: 0;
      width: 24px;
      height: 24px; }
    .slider__button--next::before, .slider__button--prev::before {
      content: '';
      position: absolute;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-right: 2px solid transparent;
      border-top: 2px solid transparent; }
    .slider__button--next::before {
      top: 16px;
      right: 19px;
      width: 12px;
      height: 12px;
      transform: rotate(-135deg); }
    .slider__button--prev::before {
      top: 7px;
      left: 8px;
      width: 6px;
      height: 6px;
      transform: rotate(45deg); } }

.page-header {
  position: absolute;
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: #000; }
  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .page-header__logo-car {
    fill: #fff; }
  .page-header__activity {
    display: none; }
  .page-header__button {
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer; }
  .page-header__button::before, .page-header__button::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 22px;
    border-bottom: 3px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10px; }
  .page-header__button::before {
    top: 5px;
    box-shadow: 0 8px #fff; }
  .page-header__button::after {
    top: 21px; }
  .page-header__nav {
    display: none; }
  .page-header__apply {
    display: none; }

@media (min-width: 768px) {
  .page-header {
    position: static;
    padding: 20px 35px;
    color: #000;
    background-color: #fff; }
    .page-header__container {
      justify-content: flex-start; }
    .page-header__logo {
      position: relative;
      width: 166px;
      height: 29px;
      margin-right: 30px; }
    .page-header__logo::before {
      content: '';
      position: absolute;
      bottom: 3px;
      right: -12px;
      width: 1px;
      height: 30px;
      background-color: #c4c4c4; }
    .page-header__logo-car {
      fill: #000; }
    .page-header__activity {
      display: block;
      margin: 0; }
    .page-header__button {
      margin-left: auto; }
    .page-header__button::before, .page-header__button::after {
      border-bottom: 3px solid #000; }
    .page-header__button::before {
      box-shadow: 0 8px #000; } }

@media (min-width: 1024px) {
  .page-header {
    padding: 25px 45px; }
    .page-header__container {
      justify-content: flex-start; }
    .page-header__logo {
      margin-right: 35px; }
    .page-header__logo::before {
      bottom: 3px;
      right: -17px; }
    .page-header__button {
      display: none; }
    .page-header__button::before, .page-header__button::after {
      border-bottom: 3px solid #000; }
    .page-header__button::before {
      box-shadow: 0 8px #000; }
    .page-header__nav {
      display: block;
      margin-left: auto; }
    .page-header__apply {
      display: block;
      width: 175px;
      margin-left: 25px;
      padding: 12px 20px;
      font-family: "Gilroy";
      font-size: 16px;
      color: #ff9514;
      font-weight: 700;
      line-height: 24px;
      background-color: #fff;
      border: 1px solid #ff9514;
      border-radius: 40px;
      cursor: pointer; } }

@media (min-width: 1440px) {
  .page-header {
    padding: 25px 50px; }
    .page-header__logo {
      width: 200px;
      height: 35px; }
    .page-header__img {
      width: 100%;
      height: 100%; }
    .page-header__activity {
      color: rgba(17, 17, 17, 0.5);
      text-transform: lowercase;
      font-size: 16px;
      line-height: 24px; } }

.pagination__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.pagination__item:not(:last-child) {
  margin-right: 12px; }

.pagination__button {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.pagination__button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%; }

.pagination__item--active .pagination__button::before {
  width: 12px;
  height: 12px;
  background-color: white; }

.price-count {
  padding: 60px 20px 0; }
  .price-count__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Nekst";
    font-size: 34px;
    line-height: 31px;
    font-weight: 900; }
  .price-count__list {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    list-style: none; }
  .price-count__item {
    display: flex;
    flex-direction: column; }
  .price-count__item:not(:last-child) {
    margin-bottom: 25px; }
  .price-count__label {
    margin-bottom: 10px;
    color: #333e48;
    line-height: 19px; }
  .price-count__input {
    padding: 15px 20px;
    background-color: #f3f3f4;
    border: none;
    border-radius: 16px; }
  .price-count__result-list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none; }
  .price-count__result-item {
    display: flex;
    flex-direction: column; }
  .price-count__result-item:not(:last-child) {
    margin-bottom: 25px; }
  .price-count__result-label {
    margin-bottom: 5px;
    line-height: 19px;
    color: #333333; }
  .price-count__submit {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 18px 20px;
    font-family: "Nekst";
    font-size: 22px;
    color: #fff;
    font-weight: 900;
    line-height: 20px;
    background-color: #ff9514;
    border: none;
    border-radius: 40px;
    cursor: pointer; }

@media (min-width: 768px) {
  .price-count {
    padding: 80px 0 0; }
    .price-count__title {
      margin-bottom: 40px;
      font-size: 54px;
      line-height: 49px; }
    .price-count__list {
      margin-bottom: 35px; }
    .price-count__item:not(:last-child) {
      margin-bottom: 30px; }
    .price-count__label {
      margin-bottom: 20px;
      color: #575757;
      font-size: 16px;
      line-height: 20px; }
    .price-count__input {
      padding: 15px 25px; }
    .price-count__result-list {
      display: flex;
      margin: 0;
      margin-bottom: 40px;
      padding: 0;
      list-style: none; }
    .price-count__result-item {
      width: calc(50% - 80px / 2);
      display: flex;
      flex-direction: column; }
    .price-count__result-item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 80px; }
    .price-count__result-label {
      font-size: 16px;
      line-height: 24px; }
    .price-count__submit {
      width: 345px;
      margin: 0;
      padding: 18px 20px 15px;
      font-size: 30px;
      line-height: 36px; } }

@media (min-width: 1024px) {
  .price-count {
    padding: 80px 0 100px; }
    .price-count__title {
      width: 750px; } }

@media (min-width: 768px) {
  .price-count {
    padding: 100px 0 130px; }
    .price-count__form {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end; }
    .price-count__list {
      width: 100%;
      display: flex;
      margin-bottom: 40px; }
    .price-count__item {
      width: calc(100% / 3 - 20px); }
    .price-count__item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px; }
    .price-count__result-list {
      width: calc(100% / 3 * 2);
      margin-bottom: 0; }
    .price-count__result-item {
      width: calc(100% / 2 - 20px); }
    .price-count__result-item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px; }
    .price-count__result-label {
      font-size: 16px;
      line-height: 24px; }
    .price-count__submit {
      width: calc(100% / 3 - 20px);
      margin-left: 20px;
      padding: 12px 20px 12px; } }

@media (min-width: 768px) {
  .page-main {
    padding: 0 35px; } }

@media (min-width: 1024px) {
  .page-main {
    padding: 0 45px; } }

.modal {
  position: relative;
  width: 100%;
  padding: 25px 20px;
  color: #000;
  background-color: #fff; }
  .modal__title {
    margin: 0;
    margin-bottom: 15px;
    font-family: "Nekst";
    font-size: 22px;
    color: #111;
    line-height: 20px;
    font-weight: 900; }
  .modal__text {
    margin: 0;
    margin-bottom: 30px;
    color: #575757;
    line-height: 19px; }
  .modal__form {
    margin-bottom: 25px; }
  .modal__form-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    list-style: none; }
  .modal__form-item {
    position: relative; }
  .modal__form-item:not(:last-child) {
    margin-bottom: 10px; }
  .modal__label {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #575757; }
  .modal__star {
    display: inline-block;
    margin-left: 3px; }
  .modal__input {
    padding: 24px 24px 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #575757;
    background-color: #f3f3f4;
    border: none;
    border-radius: 16px; }
  .modal__submit {
    width: 100%;
    padding: 12px 25px;
    margin-bottom: 15px;
    font-family: "Gilroy";
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background-color: #ff9514;
    border: none;
    border-radius: 40px;
    cursor: pointer; }
  .modal__agreement {
    margin: 0;
    line-height: 19px;
    color: rgba(17, 17, 17, 0.5);
    text-align: center; }
  .modal__agreement-link {
    color: #111111;
    text-decoration: none; }
  .modal__social-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none; }
  .modal__social-item:not(:last-child) {
    margin-right: 15px; }
  .modal__social-link {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #e7e7e7;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center; }
  .modal__social-link--whatsapp {
    background-image: url("../../img/whatsapp-icon.svg");
    background-size: 20px 20px; }
  .modal__social-link--telegram {
    background-image: url("../../img/telegram-icon.svg");
    background-size: 22px 17px; }
  .modal__close {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 24px;
    height: 24px;
    background-color: #f3f3f4;
    border-radius: 50%;
    border: none;
    cursor: pointer; }
  .modal__close::before, .modal__close::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 7px;
    width: 11px;
    border-bottom: 2px solid #828282;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10px; }
  .modal__close::before {
    transform: rotate(-45deg); }
  .modal__close::after {
    transform: rotate(45deg); }

@media (min-width: 768px) {
  .modal {
    padding: 120px 35px; }
    .modal__title {
      margin-bottom: 20px;
      font-size: 54px;
      line-height: 49px; }
    .modal__text {
      margin-bottom: 45px;
      font-size: 16px;
      line-height: 24px; }
    .modal__form {
      margin-bottom: 30px; }
    .modal__form-list {
      flex-direction: row;
      margin-bottom: 30px; }
    .modal__form-item {
      width: calc(50% - 15px); }
    .modal__form-item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px; }
    .modal__input {
      width: 100%; }
    .modal__submit-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      border: 2px solid #f3f3f4;
      border-radius: 16px; }
    .modal__submit {
      order: 2;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin-bottom: 0; }
    .modal__agreement {
      order: 1;
      width: 50%;
      margin-bottom: 0;
      line-height: 21px; } }

@media (min-width: 1024px) {
  .modal {
    padding: 160px 185px; } }

@media (min-width: 1400px) {
  .modal {
    padding: 160px 400px; } }
